!!!
%html{html_attrs}
  %head
    %title CINU
  %body
    %script{:type => "text/javascript", :src=>"../vendor/jquery/dist/jquery.js"}
    %script{:type => "text/javascript", :src=>"../vendor/raphael/raphael.js"}
    %script{:type => "text/javascript", :src=>"../lib/ci.js"}
    %script{:type => "text/javascript", :src=>"../lib/ci/observable.js"}
    %script{:type => "text/javascript", :src=>"../lib/ci/view.js"}
    %script{:type => "text/javascript", :src=>"../lib/ci/project.js"}
    %script{:type => "text/javascript", :src=>"index.js"}
    %script{:type => "text/javascript", :src=>"spec_helper.js"}

  #CI

/ Local Variables:
/ mode:auto-revert
/ End:

