[submodule "vendor/strophejs"]
	path = vendor/strophejs
	url = git://github.com/smparkes/strophejs.git
[submodule "vendor/jazrb"]
	path = vendor/jazrb
	url = git@github.com:smparkes/jazrb.git
[submodule "vendor/jquery"]
	path = vendor/jquery
	url = git://github.com/jquery/jquery.git
