!!!
%html{html_attrs}
  %head
    %title Serve TTT!
  %body
    %script{:type => "text/javascript", :src=>"ttt.js"}
    %script{:type => "text/javascript", :src=>"serve.js"}

    #server

    %script{:type => "text/javascript", :src=>"spec_helper.js"}
