input {
  width: 64em; }

.connection {
  margin-right: 1em; }
  .connection .control {
    float: right;
    margin-bottom: 1em;
    text-align: right; }
    .connection .control label {
      margin-right: .2em; }
  .connection .value {
    clear: right;
    float: right; }
    .connection .value .status {
      float: left;
      font-size: .7em;
      font-style: italic;
      padding-top: .2em;
      padding-left: .2em; }
    .connection .value a {
      display: block;
      float: right;
      padding-left: 1em; }

.clear {
  clear: both; }

a.button {
  font-size: .8em;
  text-decoration: none;
  padding-right: .2em; }

#server span.url, #client span.url {
  display: none; }
